.app {
  box-sizing: border-box;
  background-color: #333;
  position: relative;
  padding-bottom: 2em;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 48px;
}

.app-header {
  background-color: #222;
  height: 132px;
  padding: 16px;
  color: white;
  box-sizing: inherit;
  border-bottom: 2px solid #e3d4c6;
}

.app-title {
  font-size: 2em;
}

.app-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(136px, 1fr));
  grid-gap: 1em;
  color: #fff;
  box-sizing: inherit;
  padding: 1em;
}

.app-aggregate:nth-child(1) {
  grid-column: 2 / 3;
}

.app-aggregate:nth-child(2) {
  grid-column: 3 / 4;
}

.app-filter {
  grid-row: 2 / 3;
  grid-column: 2 / 4;
}

.app-playlist-wrapper {
  grid-row: 3 / 4;
  grid-column: 2 / 6;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(136px, 1fr));
  grid-gap: 1em;
}

.app-playlist-img {
  width: 100%;
}

.app-playlist-list {
  padding: 0;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

