.app {
  box-sizing: border-box;
  background-color: #333;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 48px;
}

.app-header {
  background-color: #222;
  height: 132px;
  padding: 16px;
  color: white;
  box-sizing: inherit;
  border-bottom: 2px solid #e3d4c6;
}

.app-title {
  font-size: 1.5em;
}

.app-main {
  display: grid;
  grid-template-columns: minmax(1em, 1fr) repeat(4, 6fr) minmax(1em, 1fr);
  grid-gap: 1em;
  color: #fff;
  box-sizing: inherit;
}

.app-aggregate:nth-child(1) {
  grid-column: 2 / 3;
}

.app-aggregate:nth-child(2) {
  grid-column: 3 / 4;
}

.app-filter {
  grid-row: 2 / 3;
  grid-column: 2 / 4;
}

.app-playlist {
  grid-row: 3 / 4;
}

.app-playlist.row-1 {
  grid-column: 2 / 3;
}

.app-playlist.row-2 {
  grid-column: 3 / 4;
}

.app-playlist.row-3 {
  grid-column: 4 / 5;
}

.app-playlist.row-4 {
  grid-column: 5 / 6;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

